<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.firstgeneration.mapper.huoban.richang6s.Richang6sMapper">
    <resultMap id="BaseResultMap" type="com.amchis.firstgeneration.bean.huoban.richang6s.Richang6s">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="waijian" jdbcType="VARCHAR" property="waijian"/>
        <result column="yonghuwaijian" jdbcType="VARCHAR" property="yonghuwaijian"/>
        <result column="riqi" jdbcType="VARCHAR" property="riqi"/>
        <result column="kongfu" jdbcType="VARCHAR" property="kongfu"/>
        <result column="xueyagao" jdbcType="VARCHAR" property="xueyagao"/>
        <result column="xueyadi" jdbcType="VARCHAR" property="xueyadi"/>
        <result column="wanerxiaoshi" jdbcType="VARCHAR" property="wanerxiaoshi"/>
        <result column="qitayaowu" jdbcType="VARCHAR" property="qitayaowu"/>
        <result column="beizhu" jdbcType="VARCHAR" property="beizhu"/>
        <result column="luruduan" jdbcType="VARCHAR" property="luruduan"/>
        <result column="shixiao" jdbcType="VARCHAR" property="shixiao"/>
        <result column="shujuriqi" jdbcType="VARCHAR" property="shujuriqi"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, waijian, yonghuwaijian, riqi, kongfu, xueyagao, xueyadi, wanerxiaoshi, qitayaowu, 
    beizhu, luruduan, shixiao, shujuriqi
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from richang6s
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from richang6s
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from richang6s
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.amchis.firstgeneration.bean.huoban.richang6s.Richang6s">
    insert into richang6s (id, waijian, yonghuwaijian, 
      riqi, kongfu, xueyagao, 
      xueyadi, wanerxiaoshi, qitayaowu, 
      beizhu, luruduan, shixiao, 
      shujuriqi)
    values (#{id,jdbcType=INTEGER}, #{waijian,jdbcType=VARCHAR}, #{yonghuwaijian,jdbcType=VARCHAR}, 
      #{riqi,jdbcType=VARCHAR}, #{kongfu,jdbcType=VARCHAR}, #{xueyagao,jdbcType=VARCHAR}, 
      #{xueyadi,jdbcType=VARCHAR}, #{wanerxiaoshi,jdbcType=VARCHAR}, #{qitayaowu,jdbcType=VARCHAR}, 
      #{beizhu,jdbcType=VARCHAR}, #{luruduan,jdbcType=VARCHAR}, #{shixiao,jdbcType=VARCHAR}, 
      #{shujuriqi,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.amchis.firstgeneration.bean.huoban.richang6s.Richang6s">
        insert into richang6s
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="waijian != null">
                waijian,
            </if>
            <if test="yonghuwaijian != null">
                yonghuwaijian,
            </if>
            <if test="riqi != null">
                riqi,
            </if>
            <if test="kongfu != null">
                kongfu,
            </if>
            <if test="xueyagao != null">
                xueyagao,
            </if>
            <if test="xueyadi != null">
                xueyadi,
            </if>
            <if test="wanerxiaoshi != null">
                wanerxiaoshi,
            </if>
            <if test="qitayaowu != null">
                qitayaowu,
            </if>
            <if test="beizhu != null">
                beizhu,
            </if>
            <if test="luruduan != null">
                luruduan,
            </if>
            <if test="shixiao != null">
                shixiao,
            </if>
            <if test="shujuriqi != null">
                shujuriqi,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="waijian != null">
                #{waijian,jdbcType=VARCHAR},
            </if>
            <if test="yonghuwaijian != null">
                #{yonghuwaijian,jdbcType=VARCHAR},
            </if>
            <if test="riqi != null">
                #{riqi,jdbcType=VARCHAR},
            </if>
            <if test="kongfu != null">
                #{kongfu,jdbcType=VARCHAR},
            </if>
            <if test="xueyagao != null">
                #{xueyagao,jdbcType=VARCHAR},
            </if>
            <if test="xueyadi != null">
                #{xueyadi,jdbcType=VARCHAR},
            </if>
            <if test="wanerxiaoshi != null">
                #{wanerxiaoshi,jdbcType=VARCHAR},
            </if>
            <if test="qitayaowu != null">
                #{qitayaowu,jdbcType=VARCHAR},
            </if>
            <if test="beizhu != null">
                #{beizhu,jdbcType=VARCHAR},
            </if>
            <if test="luruduan != null">
                #{luruduan,jdbcType=VARCHAR},
            </if>
            <if test="shixiao != null">
                #{shixiao,jdbcType=VARCHAR},
            </if>
            <if test="shujuriqi != null">
                #{shujuriqi,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.amchis.firstgeneration.bean.huoban.richang6s.Richang6s">
        update richang6s
        <set>
            <if test="waijian != null">
                waijian = #{waijian,jdbcType=VARCHAR},
            </if>
            <if test="yonghuwaijian != null">
                yonghuwaijian = #{yonghuwaijian,jdbcType=VARCHAR},
            </if>
            <if test="riqi != null">
                riqi = #{riqi,jdbcType=VARCHAR},
            </if>
            <if test="kongfu != null">
                kongfu = #{kongfu,jdbcType=VARCHAR},
            </if>
            <if test="xueyagao != null">
                xueyagao = #{xueyagao,jdbcType=VARCHAR},
            </if>
            <if test="xueyadi != null">
                xueyadi = #{xueyadi,jdbcType=VARCHAR},
            </if>
            <if test="wanerxiaoshi != null">
                wanerxiaoshi = #{wanerxiaoshi,jdbcType=VARCHAR},
            </if>
            <if test="qitayaowu != null">
                qitayaowu = #{qitayaowu,jdbcType=VARCHAR},
            </if>
            <if test="beizhu != null">
                beizhu = #{beizhu,jdbcType=VARCHAR},
            </if>
            <if test="luruduan != null">
                luruduan = #{luruduan,jdbcType=VARCHAR},
            </if>
            <if test="shixiao != null">
                shixiao = #{shixiao,jdbcType=VARCHAR},
            </if>
            <if test="shujuriqi != null">
                shujuriqi = #{shujuriqi,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.amchis.firstgeneration.bean.huoban.richang6s.Richang6s">
    update richang6s
    set waijian = #{waijian,jdbcType=VARCHAR},
      yonghuwaijian = #{yonghuwaijian,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR},
      kongfu = #{kongfu,jdbcType=VARCHAR},
      xueyagao = #{xueyagao,jdbcType=VARCHAR},
      xueyadi = #{xueyadi,jdbcType=VARCHAR},
      wanerxiaoshi = #{wanerxiaoshi,jdbcType=VARCHAR},
      qitayaowu = #{qitayaowu,jdbcType=VARCHAR},
      beizhu = #{beizhu,jdbcType=VARCHAR},
      luruduan = #{luruduan,jdbcType=VARCHAR},
      shixiao = #{shixiao,jdbcType=VARCHAR},
      shujuriqi = #{shujuriqi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>