<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.firstgeneration.mapper.huoban.jiaoyanleixing11s.Jiaoyanleixing11sMapper">
    <resultMap id="BaseResultMap" type="com.amchis.firstgeneration.bean.huoban.jiaoyanleixing11s.Jiaoyanleixing11s">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="waijian" jdbcType="VARCHAR" property="waijian"/>
        <result column="bianma" jdbcType="VARCHAR" property="bianma"/>
        <result column="mingcheng" jdbcType="VARCHAR" property="mingcheng"/>
        <result column="shuoming" jdbcType="VARCHAR" property="shuoming"/>
        <result column="shixiao" jdbcType="VARCHAR" property="shixiao"/>
        <result column="riqi" jdbcType="VARCHAR" property="riqi"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, waijian, bianma, mingcheng, shuoming, shixiao, riqi
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jiaoyanleixing11s
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jiaoyanleixing11s
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiaoyanleixing11s
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.amchis.firstgeneration.bean.huoban.jiaoyanleixing11s.Jiaoyanleixing11s">
    insert into jiaoyanleixing11s (id, waijian, bianma, 
      mingcheng, shuoming, shixiao, 
      riqi)
    values (#{id,jdbcType=INTEGER}, #{waijian,jdbcType=VARCHAR}, #{bianma,jdbcType=VARCHAR}, 
      #{mingcheng,jdbcType=VARCHAR}, #{shuoming,jdbcType=VARCHAR}, #{shixiao,jdbcType=VARCHAR}, 
      #{riqi,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective"
            parameterType="com.amchis.firstgeneration.bean.huoban.jiaoyanleixing11s.Jiaoyanleixing11s">
        insert into jiaoyanleixing11s
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="waijian != null">
                waijian,
            </if>
            <if test="bianma != null">
                bianma,
            </if>
            <if test="mingcheng != null">
                mingcheng,
            </if>
            <if test="shuoming != null">
                shuoming,
            </if>
            <if test="shixiao != null">
                shixiao,
            </if>
            <if test="riqi != null">
                riqi,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="waijian != null">
                #{waijian,jdbcType=VARCHAR},
            </if>
            <if test="bianma != null">
                #{bianma,jdbcType=VARCHAR},
            </if>
            <if test="mingcheng != null">
                #{mingcheng,jdbcType=VARCHAR},
            </if>
            <if test="shuoming != null">
                #{shuoming,jdbcType=VARCHAR},
            </if>
            <if test="shixiao != null">
                #{shixiao,jdbcType=VARCHAR},
            </if>
            <if test="riqi != null">
                #{riqi,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.amchis.firstgeneration.bean.huoban.jiaoyanleixing11s.Jiaoyanleixing11s">
        update jiaoyanleixing11s
        <set>
            <if test="waijian != null">
                waijian = #{waijian,jdbcType=VARCHAR},
            </if>
            <if test="bianma != null">
                bianma = #{bianma,jdbcType=VARCHAR},
            </if>
            <if test="mingcheng != null">
                mingcheng = #{mingcheng,jdbcType=VARCHAR},
            </if>
            <if test="shuoming != null">
                shuoming = #{shuoming,jdbcType=VARCHAR},
            </if>
            <if test="shixiao != null">
                shixiao = #{shixiao,jdbcType=VARCHAR},
            </if>
            <if test="riqi != null">
                riqi = #{riqi,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.amchis.firstgeneration.bean.huoban.jiaoyanleixing11s.Jiaoyanleixing11s">
    update jiaoyanleixing11s
    set waijian = #{waijian,jdbcType=VARCHAR},
      bianma = #{bianma,jdbcType=VARCHAR},
      mingcheng = #{mingcheng,jdbcType=VARCHAR},
      shuoming = #{shuoming,jdbcType=VARCHAR},
      shixiao = #{shixiao,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>