<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.firstgeneration.mapper.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15sMapper">
  <resultMap id="BaseResultMap" type="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15s">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="waijian" jdbcType="VARCHAR" property="waijian" />
    <result column="shoujihao" jdbcType="VARCHAR" property="shoujihao" />
    <result column="wifiming" jdbcType="VARCHAR" property="wifiming" />
    <result column="macdizhi" jdbcType="VARCHAR" property="macdizhi" />
    <result column="liushuihao" jdbcType="VARCHAR" property="liushuihao" />
    <result column="luruduan" jdbcType="VARCHAR" property="luruduan" />
    <result column="shixiao" jdbcType="VARCHAR" property="shixiao" />
    <result column="riqi" jdbcType="VARCHAR" property="riqi" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waijian, shoujihao, wifiming, macdizhi, liushuihao, luruduan, shixiao, riqi
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySnOrWifiName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s
    <where>
      <if test="deviceSn!='null' and deviceSn!=''">
        and bdkzq.liushuihao=#{deviceSn}
      </if>
      <if test="wifiName!='null' and wifiName!=''">
        and bdkzq.wifiming=#{wifiName}
      </if>
    </where>
  </select>
  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s
    where shoujihao = #{shoujihao}
  </select>
  <select id="getAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s
  </select>
  <select id="ChaxunYibangding" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s
    left join yonghu2s yh on yh.shoujihao=bdkzq.shoujihao
    left join yonghuguanlizhe14s glz on yh.waijian=glz.yonghuwaijian
    where glz.guanjiawaijian=#{biaoji}
  </select>
  <select id="ChaxunGuanjiaWifi" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s bdkzq
    left join yonghu2s yh on bdkzq.shoujihao=yh.shoujihao
    left join yonghuguanlizhe14s yhglz on yh.waijian=yhglz.yonghuwaijian
    left join yonghu2s glz on yhglz.guanjiawaijian=yh.waijian
    <where>
      <if test="biaoji!='null' and biaoji!=''">
        and yhglz.guanjiawaijian=#{biaoji}
      </if>
      <if test="WifimingChaxun!='null' and WifimingChaxun!=''">
        and bdkzq.wifiming=#{WifimingChaxun}
      </if>
      <if test="LiushuihaoChaxun!='null' and LiushuihaoChaxun!=''">
        and bdkzq.liushuihao=#{LiushuihaoChaxun}
      </if>
    </where>
  </select>
  <select id="getByWifiNameOrSN" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bangdingkongzhiqi15s bdkzq
    <where>
      <if test="WifimingChaxun!='null' and WifimingChaxun!=''">
        and bdkzq.wifiming=#{WifimingChaxun}
      </if>
      <if test="LiushuihaoChaxun!='null' and LiushuihaoChaxun!=''">
        and bdkzq.liushuihao=#{LiushuihaoChaxun}
      </if>
      <if test="shoujihao!='null' and shoujihao!=''">
        and bdkzq.shoujihao=#{shoujihao}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bangdingkongzhiqi15s
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15s">
    insert into bangdingkongzhiqi15s (id, waijian, shoujihao, 
      wifiming, macdizhi, liushuihao, 
      luruduan, shixiao, riqi
      )
    values (#{id,jdbcType=INTEGER}, #{waijian,jdbcType=VARCHAR}, #{shoujihao,jdbcType=VARCHAR}, 
      #{wifiming,jdbcType=VARCHAR}, #{macdizhi,jdbcType=VARCHAR}, #{liushuihao,jdbcType=VARCHAR}, 
      #{luruduan,jdbcType=VARCHAR}, #{shixiao,jdbcType=VARCHAR}, #{riqi,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15s">
    insert into bangdingkongzhiqi15s
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waijian != null">
        waijian,
      </if>
      <if test="shoujihao != null">
        shoujihao,
      </if>
      <if test="wifiming != null">
        wifiming,
      </if>
      <if test="macdizhi != null">
        macdizhi,
      </if>
      <if test="liushuihao != null">
        liushuihao,
      </if>
      <if test="luruduan != null">
        luruduan,
      </if>
      <if test="shixiao != null">
        shixiao,
      </if>
      <if test="riqi != null">
        riqi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="waijian != null">
        #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="shoujihao != null">
        #{shoujihao,jdbcType=VARCHAR},
      </if>
      <if test="wifiming != null">
        #{wifiming,jdbcType=VARCHAR},
      </if>
      <if test="macdizhi != null">
        #{macdizhi,jdbcType=VARCHAR},
      </if>
      <if test="liushuihao != null">
        #{liushuihao,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        #{riqi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective4BindUser" parameterType="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15sforBindUser">
    insert into bangdingkongzhiqi15s
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waijian != null">
        waijian,
      </if>
      <if test="shoujihao != null">
        shoujihao,
      </if>
      <if test="wifiming != null">
        wifiming,
      </if>
      <if test="macdizhi != null">
        macdizhi,
      </if>
      <if test="liushuihao != null">
        liushuihao,
      </if>
      <if test="luruduan != null">
        luruduan,
      </if>
      <if test="shixiao != null">
        shixiao,
      </if>
      <if test="riqi != null">
        riqi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="waijian != null">
        #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="shoujihao != null">
        #{shoujihao,jdbcType=VARCHAR},
      </if>
      <if test="wifiming != null">
        #{wifiming,jdbcType=VARCHAR},
      </if>
      <if test="macdizhi != null">
        #{macdizhi,jdbcType=VARCHAR},
      </if>
      <if test="liushuihao != null">
        #{liushuihao,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        #{riqi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15s">
    update bangdingkongzhiqi15s
    <set>
      <if test="waijian != null">
        waijian = #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="shoujihao != null">
        shoujihao = #{shoujihao,jdbcType=VARCHAR},
      </if>
      <if test="wifiming != null">
        wifiming = #{wifiming,jdbcType=VARCHAR},
      </if>
      <if test="macdizhi != null">
        macdizhi = #{macdizhi,jdbcType=VARCHAR},
      </if>
      <if test="liushuihao != null">
        liushuihao = #{liushuihao,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        luruduan = #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        shixiao = #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        riqi = #{riqi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective4BindUser" parameterType="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15sforBindUser">
    update bangdingkongzhiqi15s
    <set>
      <if test="waijian != null">
        waijian = #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="shoujihao != null">
        shoujihao = #{shoujihao,jdbcType=VARCHAR},
      </if>
      <if test="wifiming != null">
        wifiming = #{wifiming,jdbcType=VARCHAR},
      </if>
      <if test="macdizhi != null">
        macdizhi = #{macdizhi,jdbcType=VARCHAR},
      </if>
      <if test="liushuihao != null">
        liushuihao = #{liushuihao,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        luruduan = #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        shixiao = #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        riqi = #{riqi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amchis.firstgeneration.bean.guanli.bangdingkongzhiqi15s.BangDingKongZhiQi15s">
    update bangdingkongzhiqi15s
    set waijian = #{waijian,jdbcType=VARCHAR},
      shoujihao = #{shoujihao,jdbcType=VARCHAR},
      wifiming = #{wifiming,jdbcType=VARCHAR},
      macdizhi = #{macdizhi,jdbcType=VARCHAR},
      liushuihao = #{liushuihao,jdbcType=VARCHAR},
      luruduan = #{luruduan,jdbcType=VARCHAR},
      shixiao = #{shixiao,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>