<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.firstgeneration.mapper.guanli.jiyinjiance20s.JiYinJianCe20sMapper">
  <resultMap id="BaseResultMap" type="com.amchis.firstgeneration.bean.guanli.jiyinjiance20s.JiYinJianCe20s">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="waijian" jdbcType="VARCHAR" property="waijian" />
    <result column="yonghuwaijian" jdbcType="VARCHAR" property="yonghuwaijian" />
    <result column="cdkal1_1" jdbcType="VARCHAR" property="cdkal11" />
    <result column="cdkal1_2" jdbcType="VARCHAR" property="cdkal12" />
    <result column="cdkn2a_b" jdbcType="VARCHAR" property="cdkn2aB" />
    <result column="hhex" jdbcType="VARCHAR" property="hhex" />
    <result column="slc30a8" jdbcType="VARCHAR" property="slc30a8" />
    <result column="kcnq1" jdbcType="VARCHAR" property="kcnq1" />
    <result column="shuoming" jdbcType="VARCHAR" property="shuoming" />
    <result column="luruduan" jdbcType="VARCHAR" property="luruduan" />
    <result column="shixiao" jdbcType="VARCHAR" property="shixiao" />
    <result column="riqi" jdbcType="VARCHAR" property="riqi" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waijian, yonghuwaijian, cdkal1_1, cdkal1_2, cdkn2a_b, hhex, slc30a8, kcnq1, shuoming, 
    luruduan, shixiao, riqi
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jiyinjiance20s
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectJiYinJianCe" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    yh.mingcheng yonghumingcheng,yh.shoujihao yonghushoujihao
    from jiyinjiance20s
    left join yonghu2s yh on yh.waijian=jyjc.yonghuwaijian
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiyinjiance20s
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amchis.firstgeneration.bean.guanli.jiyinjiance20s.JiYinJianCe20s">
    insert into jiyinjiance20s (id, waijian, yonghuwaijian, 
      cdkal1_1, cdkal1_2, cdkn2a_b, 
      hhex, slc30a8, kcnq1, 
      shuoming, luruduan, shixiao, 
      riqi)
    values (#{id,jdbcType=INTEGER}, #{waijian,jdbcType=VARCHAR}, #{yonghuwaijian,jdbcType=VARCHAR}, 
      #{cdkal11,jdbcType=VARCHAR}, #{cdkal12,jdbcType=VARCHAR}, #{cdkn2aB,jdbcType=VARCHAR}, 
      #{hhex,jdbcType=VARCHAR}, #{slc30a8,jdbcType=VARCHAR}, #{kcnq1,jdbcType=VARCHAR}, 
      #{shuoming,jdbcType=VARCHAR}, #{luruduan,jdbcType=VARCHAR}, #{shixiao,jdbcType=VARCHAR}, 
      #{riqi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amchis.firstgeneration.bean.guanli.jiyinjiance20s.JiYinJianCe20s">
    insert into jiyinjiance20s
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waijian != null">
        waijian,
      </if>
      <if test="yonghuwaijian != null">
        yonghuwaijian,
      </if>
      <if test="cdkal11 != null">
        cdkal1_1,
      </if>
      <if test="cdkal12 != null">
        cdkal1_2,
      </if>
      <if test="cdkn2aB != null">
        cdkn2a_b,
      </if>
      <if test="hhex != null">
        hhex,
      </if>
      <if test="slc30a8 != null">
        slc30a8,
      </if>
      <if test="kcnq1 != null">
        kcnq1,
      </if>
      <if test="shuoming != null">
        shuoming,
      </if>
      <if test="luruduan != null">
        luruduan,
      </if>
      <if test="shixiao != null">
        shixiao,
      </if>
      <if test="riqi != null">
        riqi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="waijian != null">
        #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="yonghuwaijian != null">
        #{yonghuwaijian,jdbcType=VARCHAR},
      </if>
      <if test="cdkal11 != null">
        #{cdkal11,jdbcType=VARCHAR},
      </if>
      <if test="cdkal12 != null">
        #{cdkal12,jdbcType=VARCHAR},
      </if>
      <if test="cdkn2aB != null">
        #{cdkn2aB,jdbcType=VARCHAR},
      </if>
      <if test="hhex != null">
        #{hhex,jdbcType=VARCHAR},
      </if>
      <if test="slc30a8 != null">
        #{slc30a8,jdbcType=VARCHAR},
      </if>
      <if test="kcnq1 != null">
        #{kcnq1,jdbcType=VARCHAR},
      </if>
      <if test="shuoming != null">
        #{shuoming,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        #{riqi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amchis.firstgeneration.bean.guanli.jiyinjiance20s.JiYinJianCe20s">
    update jiyinjiance20s
    <set>
      <if test="waijian != null">
        waijian = #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="yonghuwaijian != null">
        yonghuwaijian = #{yonghuwaijian,jdbcType=VARCHAR},
      </if>
      <if test="cdkal11 != null">
        cdkal1_1 = #{cdkal11,jdbcType=VARCHAR},
      </if>
      <if test="cdkal12 != null">
        cdkal1_2 = #{cdkal12,jdbcType=VARCHAR},
      </if>
      <if test="cdkn2aB != null">
        cdkn2a_b = #{cdkn2aB,jdbcType=VARCHAR},
      </if>
      <if test="hhex != null">
        hhex = #{hhex,jdbcType=VARCHAR},
      </if>
      <if test="slc30a8 != null">
        slc30a8 = #{slc30a8,jdbcType=VARCHAR},
      </if>
      <if test="kcnq1 != null">
        kcnq1 = #{kcnq1,jdbcType=VARCHAR},
      </if>
      <if test="shuoming != null">
        shuoming = #{shuoming,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        luruduan = #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        shixiao = #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        riqi = #{riqi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amchis.firstgeneration.bean.guanli.jiyinjiance20s.JiYinJianCe20s">
    update jiyinjiance20s
    set waijian = #{waijian,jdbcType=VARCHAR},
      yonghuwaijian = #{yonghuwaijian,jdbcType=VARCHAR},
      cdkal1_1 = #{cdkal11,jdbcType=VARCHAR},
      cdkal1_2 = #{cdkal12,jdbcType=VARCHAR},
      cdkn2a_b = #{cdkn2aB,jdbcType=VARCHAR},
      hhex = #{hhex,jdbcType=VARCHAR},
      slc30a8 = #{slc30a8,jdbcType=VARCHAR},
      kcnq1 = #{kcnq1,jdbcType=VARCHAR},
      shuoming = #{shuoming,jdbcType=VARCHAR},
      luruduan = #{luruduan,jdbcType=VARCHAR},
      shixiao = #{shixiao,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>