<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.firstgeneration.mapper.guanli.appbanben21s.AppBanBen21sMapper">
  <resultMap id="BaseResultMap" type="com.amchis.firstgeneration.bean.guanli.appbanben21s.AppBanBen21s">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="waijian" jdbcType="VARCHAR" property="waijian" />
    <result column="iosapp" jdbcType="VARCHAR" property="iosapp" />
    <result column="androidapp" jdbcType="VARCHAR" property="androidapp" />
    <result column="luruduan" jdbcType="VARCHAR" property="luruduan" />
    <result column="shixiao" jdbcType="VARCHAR" property="shixiao" />
    <result column="riqi" jdbcType="VARCHAR" property="riqi" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waijian, iosapp, androidapp, luruduan, shixiao, riqi
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appbanben21s
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAppUpdate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from appbanben21s
    where shixiao = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appbanben21s
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amchis.firstgeneration.bean.guanli.appbanben21s.AppBanBen21s">
    insert into appbanben21s (id, waijian, iosapp, 
      androidapp, luruduan, shixiao, 
      riqi)
    values (#{id,jdbcType=INTEGER}, #{waijian,jdbcType=VARCHAR}, #{iosapp,jdbcType=VARCHAR}, 
      #{androidapp,jdbcType=VARCHAR}, #{luruduan,jdbcType=VARCHAR}, #{shixiao,jdbcType=VARCHAR}, 
      #{riqi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amchis.firstgeneration.bean.guanli.appbanben21s.AppBanBen21s">
    insert into appbanben21s
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waijian != null">
        waijian,
      </if>
      <if test="iosapp != null">
        iosapp,
      </if>
      <if test="androidapp != null">
        androidapp,
      </if>
      <if test="luruduan != null">
        luruduan,
      </if>
      <if test="shixiao != null">
        shixiao,
      </if>
      <if test="riqi != null">
        riqi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="waijian != null">
        #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="iosapp != null">
        #{iosapp,jdbcType=VARCHAR},
      </if>
      <if test="androidapp != null">
        #{androidapp,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        #{riqi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amchis.firstgeneration.bean.guanli.appbanben21s.AppBanBen21s">
    update appbanben21s
    <set>
      <if test="waijian != null">
        waijian = #{waijian,jdbcType=VARCHAR},
      </if>
      <if test="iosapp != null">
        iosapp = #{iosapp,jdbcType=VARCHAR},
      </if>
      <if test="androidapp != null">
        androidapp = #{androidapp,jdbcType=VARCHAR},
      </if>
      <if test="luruduan != null">
        luruduan = #{luruduan,jdbcType=VARCHAR},
      </if>
      <if test="shixiao != null">
        shixiao = #{shixiao,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null">
        riqi = #{riqi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amchis.firstgeneration.bean.guanli.appbanben21s.AppBanBen21s">
    update appbanben21s
    set waijian = #{waijian,jdbcType=VARCHAR},
      iosapp = #{iosapp,jdbcType=VARCHAR},
      androidapp = #{androidapp,jdbcType=VARCHAR},
      luruduan = #{luruduan,jdbcType=VARCHAR},
      shixiao = #{shixiao,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>