<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.firstgeneration.mapper.guanli.kehuyaowu18s.KeHuYaoWu18sMapper">
    <resultMap id="BaseResultMap" type="com.amchis.firstgeneration.bean.huoban.kehuyaowu18s.Kehuyaowu18s">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="waijian" jdbcType="VARCHAR" property="waijian"/>
        <result column="yonghuwaijian" jdbcType="VARCHAR" property="yonghuwaijian"/>
        <result column="mingcheng" jdbcType="VARCHAR" property="mingcheng"/>
        <result column="shujuriqi" jdbcType="VARCHAR" property="shujuriqi"/>
        <result column="qujian" jdbcType="VARCHAR" property="qujian"/>
        <result column="leixing" jdbcType="VARCHAR" property="leixing"/>
        <result column="jiliang" jdbcType="VARCHAR" property="jiliang"/>
        <result column="shixiao" jdbcType="VARCHAR" property="shixiao"/>
        <result column="riqi" jdbcType="VARCHAR" property="riqi"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, waijian, yonghuwaijian, mingcheng, shujuriqi, qujian, leixing, jiliang, shixiao, 
    riqi
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kehuyaowu18s
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByYonghuwaijian" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kehuyaowu18s
        where yonghuwaijian = #{yonghuwaijian}
        and Shixiao='0'
        order by shujuriqi
    </select>
    <select id="ChaxunGerenZuixinYaowu" parameterType="java.lang.String" resultType="java.lang.String">
    select
    DATE_FORMAT(max(str_to_date(khyw.shujuriqi,'%Y-%m-%d')),'%Y-%m-%d') as shujuriqi
    from kehuyaowu18s khyw
    where khyw.Yonghuwaijian=#{waijian}
  </select>
    <select id="ChaxunGerenZuixinYaowu1" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from kehuyaowu18s ret
    where shujuriqi = #{shujuriqi} and Yonghuwaijian=#{waijian}
  </select>
    <select id="ChaxunAppKehuyaowu" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from kehuyaowu18s khyw
    where khyw.Yonghuwaijian=#{waijian} and Shixiao='0'
    order by khyw.shujuriqi
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kehuyaowu18s
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.amchis.firstgeneration.bean.huoban.kehuyaowu18s.Kehuyaowu18s">
    insert into kehuyaowu18s (id, waijian, yonghuwaijian, 
      mingcheng, shujuriqi, qujian, 
      leixing, jiliang, shixiao, 
      riqi)
    values (#{id,jdbcType=INTEGER}, #{waijian,jdbcType=VARCHAR}, #{yonghuwaijian,jdbcType=VARCHAR}, 
      #{mingcheng,jdbcType=VARCHAR}, #{shujuriqi,jdbcType=VARCHAR}, #{qujian,jdbcType=VARCHAR}, 
      #{leixing,jdbcType=VARCHAR}, #{jiliang,jdbcType=VARCHAR}, #{shixiao,jdbcType=VARCHAR}, 
      #{riqi,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.amchis.firstgeneration.bean.guanli.kehuyaowu18s.KeHuYaoWu18s">
        insert into kehuyaowu18s
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="waijian != null">
                waijian,
            </if>
            <if test="yonghuwaijian != null">
                yonghuwaijian,
            </if>
            <if test="mingcheng != null">
                mingcheng,
            </if>
            <if test="shujuriqi != null">
                shujuriqi,
            </if>
            <if test="qujian != null">
                qujian,
            </if>
            <if test="leixing != null">
                leixing,
            </if>
            <if test="jiliang != null">
                jiliang,
            </if>
            <if test="shixiao != null">
                shixiao,
            </if>
            <if test="riqi != null">
                riqi,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="waijian != null">
                #{waijian,jdbcType=VARCHAR},
            </if>
            <if test="yonghuwaijian != null">
                #{yonghuwaijian,jdbcType=VARCHAR},
            </if>
            <if test="mingcheng != null">
                #{mingcheng,jdbcType=VARCHAR},
            </if>
            <if test="shujuriqi != null">
                #{shujuriqi,jdbcType=VARCHAR},
            </if>
            <if test="qujian != null">
                #{qujian,jdbcType=VARCHAR},
            </if>
            <if test="leixing != null">
                #{leixing,jdbcType=VARCHAR},
            </if>
            <if test="jiliang != null">
                #{jiliang,jdbcType=VARCHAR},
            </if>
            <if test="shixiao != null">
                #{shixiao,jdbcType=VARCHAR},
            </if>
            <if test="riqi != null">
                #{riqi,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.amchis.firstgeneration.bean.guanli.kehuyaowu18s.KeHuYaoWu18s">
        update kehuyaowu18s
        <set>
            <if test="waijian != null">
                waijian = #{waijian,jdbcType=VARCHAR},
            </if>
            <if test="yonghuwaijian != null">
                yonghuwaijian = #{yonghuwaijian,jdbcType=VARCHAR},
            </if>
            <if test="mingcheng != null">
                mingcheng = #{mingcheng,jdbcType=VARCHAR},
            </if>
            <if test="shujuriqi != null">
                shujuriqi = #{shujuriqi,jdbcType=VARCHAR},
            </if>
            <if test="qujian != null">
                qujian = #{qujian,jdbcType=VARCHAR},
            </if>
            <if test="leixing != null">
                leixing = #{leixing,jdbcType=VARCHAR},
            </if>
            <if test="jiliang != null">
                jiliang = #{jiliang,jdbcType=VARCHAR},
            </if>
            <if test="shixiao != null">
                shixiao = #{shixiao,jdbcType=VARCHAR},
            </if>
            <if test="riqi != null">
                riqi = #{riqi,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.amchis.firstgeneration.bean.guanli.kehuyaowu18s.KeHuYaoWu18s">
    update kehuyaowu18s
    set waijian = #{waijian,jdbcType=VARCHAR},
      yonghuwaijian = #{yonghuwaijian,jdbcType=VARCHAR},
      mingcheng = #{mingcheng,jdbcType=VARCHAR},
      shujuriqi = #{shujuriqi,jdbcType=VARCHAR},
      qujian = #{qujian,jdbcType=VARCHAR},
      leixing = #{leixing,jdbcType=VARCHAR},
      jiliang = #{jiliang,jdbcType=VARCHAR},
      shixiao = #{shixiao,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kehuyaowu18s
    </select>
</mapper>